<div layout:decorate="layouts/admin" layout:fragment="contents">
    <div>
        <h2>ニュース一覧</h2>
        <a href="" class="btn btn-sm btn-outline-primary">新規追加</a>
        <table class="table">
            <tr>
                <th></th>
                <th>投稿日</th>
                <th>カテゴリ</th>
                <th>タイトル</th>
            </tr>
            <tr>
                <td><a href="" class="btn btn-sm btn-outline-primary">編集</a></td>
                <td>2023/01/01 15:00</td>
                <td>主要</td>
                <td>ニュース1</td>
            </tr>
            <tr>
                <td><a href="" class="btn btn-sm btn-outline-primary">編集</a></td>
                <td>2023/01/04 18:00</td>
                <td>スポーツ</td>
                <td>ニュース2</td>
            </tr>
            <tr>
                <td><a href="" class="btn btn-sm btn-outline-primary">編集</a></td>
                <td>2023/01/03 17:00</td>
                <td>エンタメ</td>
                <td>ニュース3</td>
            </tr>
        </table>
    </div>
</div>