<div layout:decorate="layouts/default" layout:fragment="contents">
    <div>
        <h2>主要</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a th:href="@{/article/6476131}">保理 ロシアの「孤立」際立つ</a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/article/6476121}">首相NY講演 日本へ投資呼びかけ</a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/article/6476125}">秋本議員 コロナ不正受給に関与か</a>
            </li>
        </ul>
    </div>
</div>